<html>
    <body>
        <h2>Population API Service</h2>
        <h3>Example:</h3>
        <h4>Berlin 20 km <code>GET /api/calculate/Berlin/20</code></h4>
        <span>response 200</span>
        <pre>
            {
                "city": "Berlin",
                "estimatedPopulation": 36000,
                "country": "Germany"
            }
        </pre>
    </body>
</html>
